.userStar{
    padding:20px 0
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
}
.rate{
   padding-top:20px;
   height:50px;
    display: flex;
    justify-content:space-between;

   
}
.tip{
    line-height:34px;
    margin-left:10px;
}