.hotpc{
    padding:50px 0;
    background:#fafafa;
}
.hotpcTitle{

    color:#2e2e2e;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotpcTitle::after,.hotpcTitle::before{
    content: '';
    width:10px;
    height:30px;
    display:inline-block;
    background:rgb(245, 223, 51);
    margin:0 20px;
    transform: skew(-30deg);
}
.hotList{
    margin:0;
    padding:50px 0;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}
.hotList li{
    list-style:none;
    margin-bottom:30px;
}
.cover{
    width:240px;
    height:200px;
    background-size:cover;
    background-position:left top;
    background-repeat:no-repeat;
}
.hotItemList{
    margin:0;
    padding:0;
}
.hotItemList li{
    margin:0;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.pcMore{
    text-align:center;
}