@import '~antd/dist/antd.less';

h1,h2,h3,h4,h5,h6,body,ul,p{
    margin:0;
}
body{
    color: #fff;
    background-color:#1C1C1C;
    font-family: '微软雅黑';
    .ant-layout-header{
        background-color:#2A2A2A
    }
    .mainbody{
        min-height:calc(100vh - 70px - 64px);
        background-color: #1C1C1C
    }
    .ant-layout-footer{
        background-color: #2A2A2A
    }
    .header-wrap{
       
        // margin:0 auto;
    }
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:red;
    font-weight:bold;
}
.ant-tabs-ink-bar{
    background:red;
}
.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
    border-bottom-color:#ccc;
}
.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active{
    color:red;
}
.ant-tabs-tab:hover{
    color:#1C1C1C;
    
}